<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  <rewrite>
    <rules>
      <rule name="Rewrite Text Requests" stopProcessing="true">
        <match url=".*" />
        <conditions>
          <add input="{HTTP_METHOD}" pattern="^GET$" />
          <add input="{HTTP_ACCEPT}" pattern="^text/html" />
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="/beah-tec/index.html" />
      </rule>
    </rules>
  </rewrite>
  <httpErrors errorMode="Custom" existingResponse="Replace">   
    <remove statusCode="404" subStatusCode="-1" />
    <error statusCode="404" path="/beah-tec/" responseMode="ExecuteURL" />           
  </httpErrors>
  </system.webServer>
</configuration>